<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Posts</title>
    
</head>
<body>
    <h1>Create New post</h1>
    <form method="post" action="/posts">
        <input type="text" name="username" placeholder="enter username"><br> <br>
        <textarea name="content" placeholder="write your posts"></textarea> <br>
        <button>Submit Post</button>
    </form>
    
</body>
</html>